.dart_tool/
.env
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
.vscode/
build/
coverage/
*.iml
supabase/.branches/
supabase/.temp/
